*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* navbar */

.navbar{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    position: sticky;
    top: 0;
}
.navbar::before{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 120%;
    z-index: -1;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    font-size: 1.1rem;
}
.navbar ul li a{
    padding: 5px 20px;
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover{
    color:rgb(164, 219, 13);
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 110%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    /* margin-top: 100px; */
    color: white;
}

ul li  ul button{
    display: none;
}
ul li:hover button{
    display:block;

}
 button{
     width: 100px;
     border: 0;
     padding: 15px 10px;
     margin-left:12px;
     outline: none;
     background: linear-gradient(to right,#b3a8ad,#44302e);
    cursor: pointer;
    border-radius:5px;
    color: #fff;
    transition: .2s;
    

}
button:hover{
color: yellowgreen;
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url('IMG1.jpg') no-repeat center center/cover;
    background-size:cover;
   
    height: 1450px;
    width: 110%;
    z-index: -1;
    opacity: .8;
}
.heading{
    color: white;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    transform: scale(1,1.3);
}


#skills{
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
    background-size: cover;
    width: 120%;
}
#skills h1{
    margin: 60px;
}
.columns{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 50px;
}
.box{
    height: 200px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}
#skills h1{
    color:black;
    font-size: 3rem;
}
.box h2{
    color: yellowgreen;
    font-size: 2rem;
    margin-bottom: 40px;
}
.box p{
    color: white;
    font-size: 1.5rem;
}
.box .tech{
    color: white;
    font-size: 1.1rem;
    padding:8px;
}

/* About Section */
#about{
    display: flex;
    flex-direction: column;
    text-align: justify;
    height: 100%;
    margin-top :700px; ;
} 
#about h1{
    color: black;
    margin: 55px;
}
.about{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.about img{
    width: 500px;
    height: 400px;
    padding: 0px 30px;
}
.name{
    padding: 10px;
}
.name h2{
    font-size: 2rem;
}
.name p{
    font-size: 1.2rem;
}

/* Contact Section */

.social-link{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    padding-bottom: 0;
    /* border-top: 1px solid #eee;
    margin-top: 50px; */

}
.social-link a{
    font-size: 22px;
    width: 45px;
    height: 45px;
    line-height: 39px;
    display: inline-block;
    color: black;
}
.social-link button{
    font-size: 22px;
    width: 45px;
    height: 45px;
    line-height: 39px;
    display: inline-block;
    color: black;
}