/* Navbar */
.navbar ul {
  flex-wrap: wrap;
}
.navbar-links ul li {
  padding: 9px;
}

.navbar-links ul {
  margin-top: 60%;
}
/* Headings */
.heading {
  font-size: 1.3rem;
  margin-top: 10%;
}

/* Gallery Images */
.gallery img {
  width: 270px;
  height: 360px;
}

/* About Section */
#about {
  height: 70%;
  width: 100%;
}

.about {
  flex-direction: column;
}
.about h2 {
  text-align: center;
}

#about {
  margin-top: 50px;
}

.about img {
  width: 150px;
  height: 150px;
  padding: 0px 15px;
}
.bubble {
  display: none;
}
/* skills */
.box {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100px;
}
.gallery{
  flex-direction: column;
}
.tech {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tech img {
  max-width: 100px;
  height: auto;
}

.name p {
  font-size: 1.5em;
}
/* portfolio */
.front img,
.front1 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
}

.back,
.front,
.back1,
.front1 {
  height: 80%;
  width: 80%;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.card {
  perspective: 1000px;
  max-width: 100%;
  width: 380px;
  height: 350px;
  position: relative;
  transform-style: preserve-3d;
  margin-left: 10%;
  margin-top: 40px;
  transition: transform 0.5s;
  transform-origin: center center;
 

}

.side {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.5s;
  transform: rotateY(0deg);
box-sizing: border-box; 
padding: 10px;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}


/* Contact Section */
#contact {
  height: 80%;
  width: 70%;
}
.heading {
  font-size: 1.3rem;
  margin-top: 10%;
}
.form {
  display: flexbox;
  margin-bottom: 50%;
}
#message {
  width: 40%;
  height: 200px;
}
.navbar {
  z-index: 2;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.social-link ul {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: linear-gradient(#dab6fc, #8e94f2);
  text-align: center;
  padding: 10px 0;
  margin: 0;
}
.social-link ul li {
  text-decoration: none;
  list-style: none;
  margin: 1px 10px;
  display: inline-block;
  font-size: 20px;
  padding: 20px 20px;
  border: 2px solid white;
  border-radius: 15%;
  text-align: center;
  position: sticky;
  line-height: 3px;
  transition: 0.5s;
}
#name {
  margin-top: 40%;
}
#name,
#email,
#message {
  width: 150px;
}
#submit {
  width: 100%;
}
