/* home */
#home { 
  height: 30rem; 
  margin-top: 40%;
}


/* navbar */
.navbar-links ul li {
  font-size: 0.75rem;
}

.toggle-btn {
  display: flex;
}

.navbar-links {
  display: none;
  width: 100%;
}

.navbar-links{
  background-color: #000000dc;
  }

.navbar {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
 
}

.navbar-links ul {
  flex-direction: column;

  margin-top:45% ;
}
.navbar ul li {
  padding: 15px 0px;
}

.navbar-links.active {
  display: flex;
}

.navbar {
  z-index: 2;
}

/* about */

#about {
  width: 80%;
  height: 1000px;
  padding: 20px;
  border-radius: 20px;
  height: auto;
}
.name p {
  font-size: 1em;
}
/* skills */

#about img {
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  margin-top: 10%;
}

#skills {
  display: flex;
  flex-direction: column;
 
}

.parent-container {
  width: 100vw;

}

.columns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  background-color: #8e94f2;
  border-radius: 20%;
  height:30rem;
  width: 20rem;
}

.tech {
  display: flex;
  align-items: center;
  padding: 0%;
  height: 30%;
  width: 100%;
}

.tech img {
  max-width: 80px;
  height: auto;
}

.front img,
.front1 img {
  width: 300px;
  height: 350px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.back,
.front,
.back1,
.front1 {
  height: 350px;
  width: 350px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.card {
  perspective: 1000px;
  max-width: 100%;
  width: 380px;
  height: 380px;
  position: relative;
  transform-style: preserve-3d;
  margin-left: 10%;
  margin-top: 40px;
  transition: transform 0.5s;
  transform-origin: center center;
}

.side {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.5s;
  transform: rotateY(0deg);
  box-sizing: border-box;
  padding: 10px;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}

/* contact */
#contact {
  width:70%;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link ul {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

.social-link ul li {
  margin: 5px;
}

#message{
  height: 100px;
}

#submit {
  margin-top: 2px;
  width: 100px;
}


.bubble {
  display: none;
}

@media screen and (max-width: 500px) {
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
    margin-top:65% ;
  }
 
}

@media screen and (max-width: 540px) {
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
    margin-top:65% ;
  }
  #home { 
    height: 20rem; 
    margin-top: 40%;
  }
  
 
}

@media screen and (max-width: 375px) {
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
    margin-top:79% ;
  }
 
}

@media screen and (max-width: 414px) {
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
    margin-top:79% ;
  }
 
}


