/* navbar */
.navbar-links ul li {
  font-size: 0.75rem;
}
.navbar {
  z-index: 2;
}
/* about */
#about {
  width: 80%;
  height: 1000px;
  padding: 20px;
  border-radius: 20px;
  height: auto;
}
.name p {
  font-size: 1.3em;
}
/* skills */

#about img {
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  margin-top: 10%;
}

/* Boxes */
.parent-container {
  display: flex;
  justify-content: center;
}

.columns {
  display: inline-block;
  width: 250px;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 50px;
}


.tech {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tech img {
  max-width: 80px;
  height: auto;
}

.front img,
.front1 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
}

.back,
.front,
.back1,
.front1 {
  height: 80%;
  width: 80%;
}


.gallery .cards {
  margin-top: -20%;
}
/* contact */
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link ul {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

.social-link ul li {
  margin: 5px;
}
#submit {
  margin-top: 2px;
  width: 150px;
}
#name {
  margin-top: 20%;
}
.bubble {
  display: none;
}
