/* home */
#home { 
  margin-top: 350px;
}

 #home h1{
  font-size: 30px;
 }

/* Navbar */

.navbar-links ul {
  display: flex;
  flex-direction: column;
  margin-top: 350px;
  background-color: #000000dc;
  align-items: center;
  width: 100%;
}

.navbar ul li {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: 15px 0px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.toggle-btn {
  display: flex;
}

.navbar-links {
  display: none;
  width: 100%;
}

.navbar-links{
  background-color: #000000dc;
  }

.navbar {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position:fixed;
}

.navbar-links.active {
  display: flex;
}

.navbar {
  z-index: 2;
}

/* Gallery Images */

.gallery img {
  width: 270px;
  height: 360px;
}

/* About Section */
#about {
  height: 70%;
  width: 100%;
}

.about {
  flex-direction: column;
}

.about h2 {
  text-align: center;
}

#about {
  margin-top: 50px;
}

.about img {
  width: 150px;
  height: 150px;
  padding: 0px 15px;
}

/* portfolio */

#portfolio {
  height: 80vh;
}

.front img,
.front1 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
}

.back,
.front,
.back1,
.front1 {
  height: 80%;
  width: 80%;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 50px;
}

.card {
  perspective: 1000px;
  max-width: 100%;
  width: 300px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform-origin: center center;
}

.side {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.5s;
  transform: rotateY(0deg);
  box-sizing: border-box;
  padding: 10px;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}

/* Contact Section */
#contact {
  width: 50%;
}

.form {
  display: flexbox;
  margin-bottom: 50%;
}

#message {
  width: 40%;
  height: 150px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.social-link ul {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: linear-gradient(#dab6fc, #8e94f2);
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

.social-link ul li {
  text-decoration: none;
  list-style: none;
  margin: 1px 10px;
  display: inline-block;
  font-size: 20px;
  padding: 20px 20px;
  border: 2px solid white;
  border-radius: 15%;
  text-align: center;
  position: sticky;
  line-height: 3px;
  transition: 0.5s;
}


#name,
#email,
#message {
  width: 150px;
}

#submit {
  width: 100%;
}


@media screen and (max-width: 768px) {
  #about {
    width: 80%;
    border-radius: 15%;
    padding: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #portfolio {
    height: 80vh;
  }

  .gallery
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.gallery .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0px;
}

.front img,
.front1 img {
  width: 20rem;
  height: 20rem;
  border-radius: 20px;
  margin-bottom: 10px;
}

#card2 img{
  width: 22rem;
  height: 20rem;
  border-radius: 20px 
}

.back,
.front,
.back1,
.front1 {
  height: 300px;
  width: 300px;
}

.back p,
.back1 p {
  color: rgb(164, 219, 13);
  font-size: 15px;
  font-family: "Bodoni Moda", serif;
}

.back h1,
.back1 h1 {
  color: rgb(164, 219, 13);
  font-size: 15px;
  font-family: "Bodoni Moda", serif;
}


.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
}
}