/* navbar */
.navbar-links ul li{
  font-size: .75rem;
  }
   

/* Boxes */
.columns{
  grid-template-columns: auto;
  justify-content: center;
}
#technical{
  height: 150px;
  width: 250px;
  
}
#personal{
  height: 150px;
  width: 250px;

}
.box h2{
  color: yellowgreen;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.box p{
  color: white;
  font-size: .8rem;
}
/* contact */

.social-link {
  position: absolute;
  bottom: -50px;
  align-items: center;
}

.navbar-links ul li{
  padding: 9px;
  margin-top: 10px;
}

.social-link ul li{
margin: 5px;

}
#submit{
margin-top: 2px;
width: 19%;
}
