/* navbar */
.toggle-btn {
  display: flex;
}
.navbar-links {
  display: none;
  width: 100%;
}
.navbar-links{
  background-color: #000000dc;
  }
.navbar {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}
#uls{
  margin-top: 40%;
}
.navbar-links ul li{
font-size: 2rem;
}
.navbar-links ul {
  flex-direction: column;
  width: 100%;
}
.navbar ul li {
  padding: 25px;
}
.navbar-links.active {
  display: flex;
}

/* skills */
.columns{
  grid-template-columns: auto;
  justify-content: center;
}
#technical{
  width: 500px;
  margin-top: 30px;
}
#technical p{
  font-size: 22px;
}
#personal{
  margin-top: 25px;
  width: 500px;
  
}
#personal p{
  font-size: 22px;
}

/* portfolio */
.about img {
  padding: 0px 20px;
  width: 400px;
  height: 300px;
}
.name {
  padding: 5px;
}
.name h2 {
  font-size: 1.7rem;
}
.name p {
  font-size: 1rem;
}
/* contact */

.heading{
  /* font-size: 3.3rem; */
  margin-top: 10%;
}

form{
  margin-top: -20%;
}
.social-link ul{
  position: relative;
  bottom: -50px;
  left:50%;
}
