/* navbar */


/* skills */
.columns{
  grid-template-columns: auto;
  justify-content: center;
}

/* .box{
  max-width: 100%;
} */

/* portfolio */
.about img {
  padding: 0px 20px;
  width: 400px;
  height: 300px;
}
.name {
  padding: 5px;
}
.name h2 {
  font-size: 1.7rem;
}
.name p {
  font-size: 1rem;
}
.heading {
  margin: 50px;
  color: #5e548e;
}
.gallery .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 350px;
  height: 500px;
  margin: 20px auto;
}

.cards {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  padding: 20px 20px;
  transition: transform 1500ms;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
gap: 50px;

}
/* contact */

.heading{
  /* font-size: 3.3rem; */
  margin-top: 10%;
}

form{
  margin-top: -20%;
}
.social-link ul{
  position: relative;
  bottom: -50px;
  left:50%;
}
